body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

head {
  margin: 0px;
}
body {
  background-color: rgb(59, 60, 83);
  margin: 0px;
}

html {
  margin: 0;
}

div.header {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  background-color: #334;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 1px 5px;

}
div.header_links {
  margin: auto;
  width: 50%;
  text-transform: capitalize;
}

a.header_link {
  text-decoration: none;
  text-shadow: 2px 2px #333;
  font-weight: bold;
  margin: 50px;
  color: brown;
}

/* div.header_links {
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}
a.header_link {
  color: red;
} */


div.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: black;
  text-align: center;
  align-items: center;
}

p.footer_text {
  color: rosybrown;
}

